.main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 10% auto;
  text-align: center;
  font-family: monospace;
}

.main label {
  font-size: 1.25em;
  padding: 1em;
}

#text-entry {
  padding: 1em;
  margin: 1em;
  box-sizing: border-box;
}

#results {
  height: 300px;
  width: 100%;
  background-color: gainsboro;
  padding: 1em;
  box-sizing: border-box;
  font-size: 1.5em;
  word-break: break-word;
}

.mitten {
  width: 200px;
  height: 200px;
  transform: scaleY(1);
  background-color: rebeccapurple;
  border-radius: 100%;
  position: absolute;
  z-index: 0;
  bottom: 100px;
  transition: transform, bottom, .5s;
}

.right {
  right: 10%;
}

.left {
  left: 10%;
}

.mitten::before {
  display: block;
  background: rebeccapurple;
  z-index: 0;
  width: 75px;
  height: 200px;
  position: absolute;
  top: 100px;
  content: "";
  left: 150px;
  transform: rotateZ(60deg);
  border-radius: 100px;
}

.right::before {
  right: 150px;
  left: unset;
  transform: rotateZ(300deg);
}

.mitten::after {
  content: "";
  height: 200px;
  width: 200px;
  background: salmon;
  position: relative;
  top: 100px;
  z-index: 1;
  display: block;
}

.mitten.typing {
  transform: scaleY(.75);
  bottom: 50px;
}

.main h1 {
  color: rebeccapurple;
}

.attribution {
  position: absolute;
    font-size: .75em;
    top: 1em;
    right: 1em;
    font-family: sans-serif;
}

@media (max-width: 730px) {
  .mitten.left {
    visibility: hidden;
  }
  .mitten.right {
    transform: scale(0.35);
    bottom: -30px;
    right: 10px;

  }
  .mitten.typing {
    transform: scaleX(0.35) scaleY(.35);
    bottom: -35px;
  }
}
